[build]
  functions = "netlify/functions"
  publish = "."

[build.environment]
  NODE_VERSION = "20.16.0"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[functions]
  node_bundler = "esbuild"

